body {
    margin: 0;
    background-color: #1F2937;
    display: flex;
}

.board-container {
    width: 80%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display:flex;
    align-items: center;   
}

.letterBox {
    display:flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-weight: 800;
    border-radius: 30px;
    color: black;
}